<div>
    <span data-qid="spanLabel" class="autoboxLabel"></span>
    <span data-qid="autoboxButtons" class="autoboxButtons">
        <!--<span data-qid="btnDelete" role="button" class="autoboxDelete">x</span>-->
    </span>
</div>